/* src/Login.css */
.container {
  text-align: center;
}

.login{
  display: flex;
  text-align: center;
  width: 500px;
  height: 200px;
  flex-direction: row;
  align-items: center;
}

input {
  display: flex;
  text-align: center;
  width: 393px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 22px;
  border: none;
  background: #E7E7E7;
}


button {
  display: flex;
  text-align: center;
  color: white;
  fontSize: 24px;
  fontFamily: Inter;
  fontWeight: 400;
  wordWrap: break-word;
  width: 320.70px;
  height: 56.70px;
  background: #4EB68B;
  border-radius: 19px;
  border: none;
}




